<h1><center>Institute of Applied Data Analytics(IADA)</center></h1>
<img src="//img1.wsimg.com/isteam/ip/24deaaed-7979-4ab6-a1f2-82ea2f254c5a/favicon/e4e818e5-b32d-4466-be8e-6ae3702120ac.png/:/rs=w:144,h:144,m"/>


****

# First session on Python : Markdown
***
***

# Heading 1
## Heading 2

### Heading 3
#### Heading4


**Bold**

*Italic*

*Run a markdown cell or a code cell : press shift+Enter*

To convert a default code cell to a markdown: press Esc + M

Executing a code : Shift + Enter or Alt+ Enter

To enter a cell below the current cell after executing: press alt+enter

To delete a cell using keyboard: press esc+ dd

To enter a new cell  below: ESC+B
To enter a new cell above : ESC+A
Start writing in a cell after selection : ENTER

- For creating bullet points

To get the keyboard shortcut: help and keyboard shortcuts

## What is Python?
Python is an object-oriented programming language created by Guido Rossum in 1989. It is ideally designed for rapid prototyping of complex applications. It has interfaces to many OS system calls and libraries and is extensible to C or C++. Many large companies use the Python programming language include NASA, Google, YouTube, BitTorrent, etc.

Python programming is widely used in Artificial Intelligence, Natural Language Generation, Neural Networks and other advanced fields of Computer Science. Python had deep focus on code readability & this class will teach you python from basics.

We are going to learn : 1) Basics of core python programming & 2) Data science related API's ( Numpy,Pandas, Matplotlip , Scikit Learn, Tensor Flow)

- Step1: Python Objects: list, tuple,dictionary , 
- Step2: Numpy( array), Pandas ( series and data frame)
- Step3: Importing data sets and learn staistics
- Step4: Matplotlib visualization
- Step5: ML model development using real data
- Step6: Overview on NLP, Deeplearning and Computer vision
- Step7: Implementing ML models

### Basics of Python

In [3]:
2+5

7

In [4]:
2*8

16

In [5]:
2/8

0.25

In [6]:
8/3

2.6666666666666665

In [8]:
int(8/3)

2

In [9]:
2**4

16

In [10]:
print('My name is: Inesh')

My name is: Inesh

Python is case sensitive

## What is a Variable in Python?

A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc. Variables can be declared by any name or even alphabets like a, aa, abc, etc.

Variable type: No declaration is required.
- Integer
- Strings
- Boolean
- Complex numbers
- Float

In [11]:
# Assigning new variables in Python
a=2
b=5
print(a)

# Withn print function use of oprations
print(b*2)

2
10

In [12]:
# Assigning string variables in Python
char="python lession"
print(char)

python lession

In [13]:
type(char)

str

In [14]:
# Locating the memory location of the variables
a=4
b=4
# Within print statement the core python fuctions can be used
print(id(a))
print(id(b))

4365854208
4365854208

In [18]:
# Declare a variable and initialize it
f = 0
print(f)
print(type(f))

# re-declaring the variable works even the variable is of different type
f = 'guru99'

print(f)

# Using a function type to know the variable type

print(type(f))

0
<class 'int'>
guru99
<class 'str'>

In [19]:
# Doing operations on both int/numeric variables and string variable


# Declaring the variables
string="Guru123"
b = 99
c=3.23

print(b+c)

# Doing operations: str() converts a intiger into a string type
print(string+str(b))
print(string+str(c))

# operation on the strings
print(string+str(b))
print(string+string)
print(string*3)

102.23
Guru12399
Guru1233.23
Guru12399
Guru123Guru123
Guru123Guru123Guru123

In [21]:
# Variables are of two type : Use of variables or position of variable

# Global variable
# Local variable

# Declare a variable and initialize it
var1 = 101
print (var1)
# Global vs. local variables in functions
def Newfunction(x):
    p=x*2
    print(p)
    # Local variable
    var1 = 'I am learning Python'
    print (var1)
    print(var1*x)
    
print('Out of the function')
    
Newfunction(3)

print (var1)
print(id(var1))

101
Out of the function
6
I am learning Python
I am learning PythonI am learning PythonI am learning Python
101
4365857312

In [22]:
# Delete a variable manually

var = 11;
print(var)

# Keyword del to delete a variable permanently from the memory location
del var

print(var)

11

NameError: name 'var' is not defined

#### Extracting character from a string

In [29]:
var='python class 101'
print(var[0])
print(var[-7])
print (var[:8])
print(var[3:])

p
a
python c
hon class 101

## Practice

In [1]:
#Accessing Values in Strings
var1 = "Guru99!"
var2 = "Software Testing"
print ("var1[0]:",var1[0])
print ("var2[1:5]:",var2[1:5])
#Some more examples
x = "Hello World!"
print (x[:6]) 
print (x[0:6] + "Guru99")
#Python String replace() Method
oldstring = 'I like Guru99' 
newstring = oldstring.replace('like', 'love')
print (newstring)
#Changing upper and lower case strings
string="python at guru99"
print (string.upper())
string="python at guru99"
print (string.capitalize())
string="PYTHON AT GURU99"
print (string.lower())
#Using "join" function for the string
print (":".join("Python"))
#Reversing String
string="12345"
print (''.join(reversed(string)))
#Split Strings
word="guru99 career guru99"
print (word.split(' '))
word="guru99 career guru99"
print (word.split('r'))
x = "Guru99"
x.replace("Guru99","Python")
print (x)
x = "Guru99"
x = x.replace("Guru99","Python")
print (x)

var1[0]: G
var2[1:5]: oftw
Hello
Hello Guru99
I love Guru99
PYTHON AT GURU99
Python at guru99
python at guru99
P:y:t:h:o:n
54321
['guru99', 'career', 'guru99']
['gu', 'u99 ca', 'ee', ' gu', 'u99']
Guru99
Python

In [7]:
oldstring = 'I like Guru99' 
newstring = oldstring.replace('like', 'love')
newstring

'I love Guru99'

In [2]:
#Changing upper and lower case strings
string="python at guru99"
print (string.upper())

PYTHON AT GURU99

## Data type in Python

### Different objects in Python are as follows:

    1. Tuple
    2. List
    3. Dictionary
    
    Numpy:
    4. Arrays
    
    Panda:
    
    5. Series
    6. Data Frame

In [32]:
# Score of students in standard 6
# A tuple can contain integer value, Float value or String value
#Tuple starts with open bracket

Score_Std6=(30,45,67,89,100,56,87.02,34,56.7,90,'Ravi','Ram','Sandhya')
print(type(Score_Std6))

<class 'tuple'>

In [33]:
print(Score_Std6)

(30, 45, 67, 89, 100, 56, 87.02, 34, 56.7, 90, 'Ravi', 'Ram', 'Sandhya')

In [34]:
# Extract the score of the student whose roll numbers are 6,7,8,9
# In python the first value is 0th value
print(Score_Std6[5:9])
print(Score_Std6[3:])

(56, 87.02, 34, 56.7)
(89, 100, 56, 87.02, 34, 56.7, 90, 'Ravi', 'Ram', 'Sandhya')

In [35]:
# Extract the score of the student whose roll numbers are grater than 4
Score_Std6[5:]

(56, 87.02, 34, 56.7, 90, 'Ravi', 'Ram', 'Sandhya')

In [36]:
# Extract the score of the student whose roll numbers are lesser tha 6
Score_Std6[:6]

(30, 45, 67, 89, 100, 56)

In [37]:
# Accessing the elements in a tuple
# Python starts the count from 0, i.e the first position in a tuple is 0
Score_Std6[0]

30

In [38]:
# There is a mistake for the student with roll number 2. The score should have been 46 rather than 45
Score_Std6=(30,45,67,89,100,56,87,34,56,90)
Score_Std6

(30, 45, 67, 89, 100, 56, 87, 34, 56, 90)

In [39]:
Score_Std6[1]

45

In [40]:
Score_Std6[1]=46
Score_Std6

TypeError: 'tuple' object does not support item assignment

In [30]:
number_movies=(2,3,6,8,9,12,45,68,100,'abc')

In [33]:
number_movies[9].upper().lower()

'abc'

In [60]:
number_movies[2]

6

In [61]:
number_movies[:3]

(2, 3, 6)

In [34]:
# Adding the values in a tuple works simmilar to the normal addition function
Tot_movies_2_3= number_movies[2]+ number_movies[3]
type(number_movies[2])

int

In [35]:
# Multiplication function works nomally when we use one element of a tuple
x=number_movies[2]*3
print(x)

18

In [36]:
print(number_movies)
print(type(number_movies))

x=number_movies*3

print(x)

(2, 3, 6, 8, 9, 12, 45, 68, 100, 'abc')
<class 'tuple'>
(2, 3, 6, 8, 9, 12, 45, 68, 100, 'abc', 2, 3, 6, 8, 9, 12, 45, 68, 100, 'abc', 2, 3, 6, 8, 9, 12, 45, 68, 100, 'abc')

In [37]:
number_story=(2,5,7,34,5,7,68,12,23)
number_story

(2, 5, 7, 34, 5, 7, 68, 12, 23)

In [38]:
print(number_movies+number_story)

(2, 3, 6, 8, 9, 12, 45, 68, 100, 'abc', 2, 5, 7, 34, 5, 7, 68, 12, 23)

### List

List is another type of python object where we can reassign the values

In [1]:
a=[1,2,3,'abc']
print(a)

[1, 2, 3, 'abc']

In [2]:
type(a)

list

In [4]:
# Different data types can be part of a list
b=["name","sk",56,43.0,None,'morning']
b

['name', 'sk', 56, 43.0, None, 'morning']

In [5]:
x=b[2]*b[3]
x

2408.0

In [6]:
# Extraction of elements from a list works simillar to a tuple
print(b[1:3])
print(b[:3])
print(b[1:])

['sk', 56]
['name', 'sk', 56]
['sk', 56, 43.0, None, 'morning']

In [7]:
Movies_list1=["disneyland","avengers",2]
Movies_list2=["how to train a dragon"]

Movies= Movies_list1+Movies_list2
print(Movies)

['disneyland', 'avengers', 2, 'how to train a dragon']

In [8]:
Movies_list1*3
#Core Python programming :Nageswara Rao

['disneyland',
 'avengers',
 2,
 'disneyland',
 'avengers',
 2,
 'disneyland',
 'avengers',
 2]

In [11]:
print(Movies_list1)
Movies_list1[1]='Hera'
print(Movies_list1)

['disneyland', 'Heraferi', 2]
['disneyland', 'Hera', 2]

## Dictionary

It is a python object with **index**. The bracket for tuple is round bracket, for list it is square bracket, for dict, it is curley racket

It can created using a tuple as well as using a list

In [13]:
Movie_top={"Animated Movies":("how to train a dragon","racket"),"Action Movies":("Avengers","ABCD",123)}
print(type(Movie_top))
Movie_top

<class 'dict'>

{'Animated Movies': ('how to train a dragon', 'racket'),
 'Action Movies': ('Avengers', 'ABCD', 123)}

In [14]:
books={"Science":("ABCD","EFGH"),"Math":["python","Statistics"]}
print(type(books))
print(type(books["Science"]))
print(type(books["Math"]))

<class 'dict'>
<class 'tuple'>
<class 'list'>

In [16]:
books={"Science":["ABCD","EFGH"],"Math":["python","Statistics"]}

print(type(books))
print(type(books["Science"]))
print(type(books["Math"]))

<class 'dict'>
<class 'list'>
<class 'list'>

In [17]:
#creating a dict using a list
Movie_list={"Animated Movies":["how to train a dragon","racket"],"Action Movies":["Avengers","ABCD",123]}
print(type(Movie_list))
Movie_list

<class 'dict'>

{'Animated Movies': ['how to train a dragon', 'racket'],
 'Action Movies': ['Avengers', 'ABCD', 123]}

In [19]:
# Extraxting information from a dictionary using  index
Movie_list["Animated Movies"]

['how to train a dragon', 'racket']

In [21]:
# Extract the elements from a dict using index
Anim=Movie_list["Animated Movies"]
Anim

['how to train a dragon', 'racket']

In [22]:
print(type(Anim))

<class 'list'>

In [23]:
# Extract the elements from a dict using index
Anim1=Movie_top["Animated Movies"]
print(Anim1)
print(type(Anim1))

('how to train a dragon', 'racket')
<class 'tuple'>

In [24]:
print(Anim[1])
print(Anim*3)

racket
['how to train a dragon', 'racket', 'how to train a dragon', 'racket', 'how to train a dragon', 'racket']

In [25]:
# Extract values from a dictionary using one line code
Anim=Movie_list["Animated Movies"][:]
print(Anim)

['how to train a dragon', 'racket']

In [26]:
Movie_list["Action Movies"][1:2]

['ABCD']

In [27]:
Student_list={"Student Names":["Hari","James","Ravi"],"Age":[12,15,13],"Distance":[10,12,0.5]}
print(Student_list)
print(type(Student_list))

{'Student Names': ['Hari', 'James', 'Ravi'], 'Age': [12, 15, 13], 'Distance': [10, 12, 0.5]}
<class 'dict'>

In [28]:
# Extract all the students in the class ( using the index of the dictionary) , here the "Student Names" is the first index
New_list=Student_list['Student Names']
print(type(Student_list))
print(type(New_list))
print(New_list)

<class 'dict'>
<class 'list'>
['Hari', 'James', 'Ravi']

In [29]:
# Extract the first element of the new list
New_list[0]

'Hari'

In [30]:
# Extract the 1st name from the list
Student_list["Student Names"][-1]

'Ravi'

In [32]:
print(" Age of Hari is", Student_list['Age'][0] )

 Age of Hari is 12

In [34]:
# Get all the index in a dictionary

for x in Student_list:
    print(x)

Student Names
Age
Distance

In [35]:
Student_list['Student Names']

['Hari', 'James', 'Ravi']

In [36]:
Student_list['Age']

[12, 15, 13]

In [37]:
Student_list['Distance']

[10, 12, 0.5]


# Python Loops
Python has two primitive loop commands:

while loops

for loops
****

In [38]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [39]:
i = 1
while i < 6:
  print(i)

  i += 1

1
2
3
4
5

In [71]:
i = 0
while i < 6:
  i += 1 
  if i > 3:
    continue
  print(i)

1
2
3

In [72]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## Python Functions
**********************************

## Math Function

In [41]:
# Dir(math) would print list of functions or utilities of the math directory

import math
from math import floor
from math import sqrt
from math import sin
from math import exp

In [42]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [44]:
print(sqrt(4))
print(floor(4.4))
print(math.ceil(4.5))
print(exp(4))

2.0
4
5
54.598150033144236

In [47]:
# User defined function without an argument
def my_function(x,y):
    
    print("Hello")
    print(2)
    print("value")
    def sum_user():
        print(x+y)
    sum_user()

print("Hello from a function")

Hello from a function

In [48]:
my_function(10,12)

Hello
2
value
22

In [49]:
# Userdefined function with arguments
def math_operations(x,y):
    z=x*y
    print(x+y)
    print(z)
    print(math.sqrt(x))
    return z

In [50]:
math_operations(8,10)

18
80
2.8284271247461903

80

In [51]:
def my_function(fname):
  print("My name is " + fname)

my_function("Emil")
my_function("Tobias")
my_function("Linus")

My name is Emil
My name is Tobias
My name is Linus

In [52]:
max(4,5,6)

6

In [53]:
min(4,5)

4

In [54]:
def hello():
  print("Hello World") 

  return("hello")

### List Comprehensions

In [59]:
marks=[12,23,44,56,78,23,45,89]
even=[p for p in marks if p %2 ==0]

In [60]:
even

[12, 44, 56, 78]

In [61]:
even=[p*2 for p in marks if p %2 ==0]
even

[24, 88, 112, 156]

In [62]:
odd_squares = [(k, k * k) for k in marks if k % 2 == 1]
print(odd_squares)

[(23, 529), (23, 529), (45, 2025), (89, 7921)]

****
## Exception Handling
***

Try and except
The basic terminology and syntax used to handle errors in Python is the try and except statements. 
The code which can cause an exception to occue is put in the try block and the handling of the exception is the implemented in the except block of code.
 
   ****

We can also just check for any exception with just using except: To get a better understanding of all this lets check out an example: We will look at some code that opens and writes a file:

In [63]:
try:
    x=100/0
except ZeroDivisionError:
    print('divided by zero')
    print('executed when exception occurs')
else:
    print('executed only when exception does not occur')
finally:
    print('finally block, always executed')

divided by zero
executed when exception occurs
finally block, always executed

## Modular Programming in Python

In [72]:
def double_the_number(num=1):
    return num * 2

print(double_the_number())

2

In [73]:
print(double_the_number(5))

10

In [74]:
double_the_number(30)

60

In [112]:
def double_the_number(num):
    return num*2

print(double_the_number(5))

10

## Lambda Expression
Efficient coding or oneline function creation

In [72]:
def square(num):
    result = num**2
    mul=num*5
    return result

square(5)

25

In [73]:
square= lambda num: num**2

square(5)

25

In [74]:
def add(x,y):
    result=x+y
    return result

In [75]:
add(5,6)

11

In [76]:
def add(x,y):
   z=x+y
   return z
print(add(5,6))

11

In [77]:
add_lambda = lambda a,b: a+b
add_lambda(4,5)

9

In [81]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]
print(type(temp))

<class 'list'>

## Map()

In [90]:
# Appliying a function on multiple arguments
F_temps = map(fahrenheit, temp)

#Show
print(list(F_temps))

[32.0, 72.5, 104.0, 212.0]

In [91]:
temp

[0, 22.5, 40, 100]

In [94]:
# Convert back
map(celsius, F_temps)

In [85]:
temp

[0, 22.5, 40, 100]

In [88]:

a = [1,2,3,1]
b = [0, 22.5, 40, 100]
c = [9,10,11,12]

In [95]:
result=map(lambda x: (5.0/9)*(x - 32),b)
print(list(result))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

Mail info@iadaanalytics.com for any question